@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

%shared-test {
  padding: 10px;
  color: #333;
  border: 1px solid #ccc;
}

/* Mess with this .test class and run npm test or commit some changes to it */
.test {
  @extend %shared-test;

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: baseline;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #000;
  border-radius: 0 1px;

  @include hover-focus {
    text-decoration: none;
    border-radius: 0 2px;
  }

  & .test-class {
    position: absolute;
    top: 0;
  }
}
